.tab-row {
    /*position: absolute;*/
    display: flex;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

.tab-item {
    margin: 2px 0;
    padding: 0 5px;
    /*padding: 2px;*/
    cursor: pointer;
    text-decoration: none;
    color: gray;
}
.tab-item:hover {
    background-color: rgb(241, 245, 248);
    color: black;
}

.tab-item_active{
    background-color: rgb(241, 245, 248);;
    color: black;
}