.tab-list_body{
    height: 100px;
}

.tab-row {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    display: flex;
    /*max-width: 100%;*/
    /*display: inline-block;*/
    height: 33px;
    /*overflow-x: auto;*/
    /*overflow-y: hidden;*/
    flex-wrap: nowrap;
}

.tab-item {
    margin: 2px 0;
    padding: 0 5px;
    /*padding: 2px;*/
    cursor: pointer;
    text-decoration: none;
    color: gray;
    max-width: 100px;
    max-height: 50px;
}
.tab-item:hover {
    background-color: rgb(241, 245, 248);
}

.tab-item_active{
    background-color: rgb(241, 245, 248);
    color: black;
}

.track-horizontal {
    position: absolute;
    height: 4px !important;
    right: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 3px;
    margin-bottom: -2px;
    /*background-color: red;*/

}

.track-vertical{
    position: absolute;
    width: 6px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;

    display: none;
    /*background-color: blue;*/
}
.thumb-horizontal {
    background-color: gray;
    border-radius: 10px;
}
.thumb-vertical {
    background-color: gray;
}
.view{
    display: flex;
}