.main-grid{
    height: calc(100vh - 4px);
    display: grid;
    grid-template-columns:minmax(100px, 20%) 1fr;
}

.main-grid_left-side{

}
.main-grid_right-side{
    display: grid;
    grid-template-rows: minmax(40px, 60px) 1fr; ;
}

.main-block {
    height: 100%;
}