.main-grid{
    min-height: calc(100vh - 4px);
    min-width: 100vw;
    display: grid;
    grid-template-columns:minmax(30px, 10%) 1fr;
    overflow: hidden;
}

.main-grid_left-side{

}
.main-grid_right-side{
    /*width: 100%;*/
    display: grid;
    grid-template-rows: minmax(40px, 60px) 1fr; ;
}

.main-block {
    height: 100%;
    /*position: relative;*/

}




.main-display{
    /*position: absolute;*/
    top: 30px;
    left: 0;
    height: calc(100% - 30px);
    width: 100%;
    background-color: rgb(241, 245, 248);
    padding: 10px;
}